{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "SQL Admin",
  "description": "API for Cloud SQL database instance management",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/cloud-sql/",
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
  "fullyEncodeReservedExpansion": true,
=======
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "sql:v1beta4",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
  "name": "sqladmin",
=======
  "name": "sql",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "backupRuns": {
      "methods": {
        "delete": {
          "description": "Deletes the backup taken by a backup run.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "DELETE",
          "id": "sql.backupRuns.delete",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The ID of the Backup Run to delete. To find a Backup Run ID, use the \u003ca\nhref=\"/sql/docs/db_path/admin-api/rest/v1beta4/backupRuns/list\"\u003elist\u003c/a\u003e\nmethod.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "description": "Retrieves a resource containing information about a backup run.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "GET",
          "id": "sql.backupRuns.get",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The ID of this Backup Run.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "response": {
            "$ref": "BackupRun"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "insert": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Creates a new backup run on demand. This method is applicable only to Second Generation instances.",
=======
          "description": "Creates a new backup run on demand. This method is applicable only to\nSecond Generation instances.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "httpMethod": "POST",
          "id": "sql.backupRuns.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "request": {
            "$ref": "BackupRun"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Lists all backup runs associated with a given instance and configuration in the reverse chronological order of the backup initiation time.",
=======
          "description": "Lists all backup runs associated with a given instance and configuration in\nthe reverse chronological order of the backup initiation time.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "httpMethod": "GET",
          "id": "sql.backupRuns.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of backup runs per response.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of\nresults to view.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "databases": {
      "methods": {
        "delete": {
          "description": "Deletes a database from a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "DELETE",
          "id": "sql.databases.delete",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "parameters": {
            "database": {
              "description": "Name of the database to be deleted in the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
=======
          "description": "Retrieves a resource containing information about a database inside a Cloud\nSQL instance.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "GET",
          "id": "sql.databases.get",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "parameters": {
            "database": {
              "description": "Name of the database in the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Database"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "insert": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance.",
=======
          "description": "Inserts a resource containing information about a database inside a Cloud\nSQL instance.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "httpMethod": "POST",
          "id": "sql.databases.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "description": "Lists databases in the specified Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "httpMethod": "GET",
          "id": "sql.databases.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "patch": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
=======
          "description": "Partially updates a resource containing information about a database inside\na Cloud SQL instance. This method supports patch semantics.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PATCH",
          "id": "sql.databases.patch",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "parameters": {
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "update": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
=======
          "description": "Updates a resource containing information about a database inside a Cloud\nSQL instance.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PUT",
          "id": "sql.databases.update",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "parameters": {
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "description": "List all available database flags for Cloud SQL instances.",
          "flatPath": "sql/v1beta4/flags",
          "httpMethod": "GET",
          "id": "sql.flags.list",
          "parameterOrder": [],
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this\nmethod returns flags for all database types and versions.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/flags",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "instances": {
      "methods": {
        "addServerCa": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.",
=======
          "description": "Add a new trusted Certificate Authority (CA) version for the specified\ninstance. Required to prepare for a certificate rotation. If a CA version\nwas previously added but never used in a certificate rotation, this\noperation replaces that version. There cannot be more than one CA version\nwaiting to be rotated in.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "httpMethod": "POST",
          "id": "sql.instances.addServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "clone": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
=======
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this\noperation might cause your instance to restart.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "httpMethod": "POST",
          "id": "sql.instances.clone",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not\ninclude the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "delete": {
          "description": "Deletes a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "DELETE",
          "id": "sql.instances.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "demoteMaster": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
=======
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an\nexternal database server.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "httpMethod": "POST",
          "id": "sql.instances.demoteMaster",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "export": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
=======
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL\ndump or CSV file.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "httpMethod": "POST",
          "id": "sql.instances.export",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "failover": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Failover the instance to its failover replica instance. Using this operation might cause your instance to restart.",
=======
          "description": "Failover the instance to its failover replica instance. Using this\noperation might cause your instance to restart.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "httpMethod": "POST",
          "id": "sql.instances.failover",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "GET",
          "id": "sql.instances.get",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "import": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
=======
          "description": "Imports data into a Cloud SQL instance from a SQL dump  or CSV file in\nCloud Storage.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "httpMethod": "POST",
          "id": "sql.instances.import",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "insert": {
          "description": "Creates a new Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "POST",
          "id": "sql.instances.insert",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances\nshould belong.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "description": "Lists instances under a given project.",
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "GET",
          "id": "sql.instances.list",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "filter": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
=======
              "description": "A filter expression that filters resources listed in the response.\nThe expression is in the form of field:value. For example,\n'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per\ntheir JSON representation, such as 'settings.userLabels.auto_start:true'.\n\nMultiple filter queries are space-separated. For example.\n'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each\nexpression is an AND expression. However, you can include AND and OR\nexpressions explicitly.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return per response.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of\nresults to view.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "listServerCas": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
=======
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified\ninstance. There can be up to three CAs listed: the CA that was used to sign\nthe certificate that is currently in use, a CA that has been added but not\nyet used to sign a certificate, and a CA used to sign a certificate that\nhas previously rotated out.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "id": "sql.instances.listServerCas",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "patch": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Updates settings of a Cloud SQL instance. This method supports patch semantics.",
=======
          "description": "Updates settings of a Cloud SQL instance.\nThis method supports patch semantics.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "PATCH",
          "id": "sql.instances.patch",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "promoteReplica": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.",
=======
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance.\nUsing this operation might cause your instance to restart.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "httpMethod": "POST",
          "id": "sql.instances.promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "resetSslConfig": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
=======
          "description": "Deletes all client certificates and generates a new server SSL certificate\nfor the instance.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "httpMethod": "POST",
          "id": "sql.instances.resetSslConfig",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "restart": {
          "description": "Restarts a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "httpMethod": "POST",
          "id": "sql.instances.restart",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be restarted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "restoreBackup": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
=======
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause\nyour instance to restart.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "httpMethod": "POST",
          "id": "sql.instances.restoreBackup",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "rotateServerCa": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.",
=======
          "description": "Rotates the server certificate to one signed by the Certificate Authority\n(CA) version previously added with the addServerCA method.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "httpMethod": "POST",
          "id": "sql.instances.rotateServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "startReplica": {
          "description": "Starts the replication in the read replica instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "httpMethod": "POST",
          "id": "sql.instances.startReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "stopReplica": {
          "description": "Stops the replication in the read replica instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "httpMethod": "POST",
          "id": "sql.instances.stopReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "truncateLog": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
=======
          "description": "Truncate MySQL general and slow query log tables",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "httpMethod": "POST",
          "id": "sql.instances.truncateLog",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "update": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
=======
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause\nyour instance to restart.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "PUT",
          "id": "sql.instances.update",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "httpMethod": "GET",
          "id": "sql.operations.get",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "parameters": {
            "operation": {
              "description": "Instance operation ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
=======
          "description": "Lists all instance operations that have been performed on the given Cloud\nSQL instance in the reverse chronological order of the start time.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "httpMethod": "GET",
          "id": "sql.operations.list",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of operations per response.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of\nresults to view.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/operations",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "rescheduleMaintenance": {
              "description": "Reschedules the maintenance on the given instance.",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "httpMethod": "POST",
              "id": "sql.projects.instances.rescheduleMaintenance",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            },
            "startExternalSync": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
              "description": "Start External primary instance migration.",
=======
              "description": "Start External master migration.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "httpMethod": "POST",
              "id": "sql.projects.instances.startExternalSync",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "project": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
                  "description": "ID of the project that contains the instance.",
=======
                  "description": "ID of the project that contains the first generation instance.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
                "skipVerification": {
                  "description": "Whether to skip the verification step (VESS).",
                  "location": "query",
                  "type": "boolean"
                },
                "syncMode": {
                  "description": "External sync mode.",
=======
                "syncMode": {
                  "description": "External sync mode",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
                  "enum": [
                    "EXTERNAL_SYNC_MODE_UNSPECIFIED",
                    "ONLINE",
                    "OFFLINE"
                  ],
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
                  "enumDescriptions": [
                    "Unknown external sync mode, will be defaulted to ONLINE mode",
                    "Online external sync will set up replication after initial data external sync",
                    "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
                  ],
=======
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            },
            "verifyExternalSyncSettings": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
              "description": "Verify External primary instance external sync settings.",
=======
              "description": "Verify External master external sync settings.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "httpMethod": "POST",
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "syncMode": {
                  "description": "External sync mode",
                  "enum": [
                    "EXTERNAL_SYNC_MODE_UNSPECIFIED",
                    "ONLINE",
                    "OFFLINE"
                  ],
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
                  "enumDescriptions": [
                    "Unknown external sync mode, will be defaulted to ONLINE mode",
                    "Online external sync will set up replication after initial data external sync",
                    "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
                  ],
=======
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
                  "location": "query",
                  "type": "string"
                },
                "verifyConnectionOnly": {
                  "description": "Flag to enable verifying connection only",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            }
          }
        }
      }
    },
    "sslCerts": {
      "methods": {
        "createEphemeral": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
=======
          "description": "Generates a short-lived X509 certificate containing the provided public key\nand signed by a private key specific to the target instance. Users may use\nthe certificate to authenticate as themselves when connecting to the\ndatabase.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "httpMethod": "POST",
          "id": "sql.sslCerts.createEphemeral",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "response": {
            "$ref": "SslCert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "delete": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
=======
          "description": "Deletes the SSL certificate. For First Generation instances, the\ncertificate remains valid until the instance is restarted.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "DELETE",
          "id": "sql.sslCerts.delete",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
=======
          "description": "Retrieves a particular SSL certificate.  Does not include the private key\n(required for usage).  The private key must be saved from the response to\ninitial creation.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "GET",
          "id": "sql.sslCerts.get",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "SslCert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "insert": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
=======
          "description": "Creates an SSL certificate and returns it along with the private key and\nserver certificate authority.  The new certificate will not be usable until\nthe instance is restarted.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "httpMethod": "POST",
          "id": "sql.sslCerts.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "description": "Lists all of the current SSL certificates for the instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "httpMethod": "GET",
          "id": "sql.sslCerts.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, db-custom-1-3840. For related information, see Pricing.",
=======
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example,\ndb-n1-standard-1. For related information, see \u003ca\nhref=\"/sql/pricing\"\u003ePricing\u003c/a\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "httpMethod": "GET",
          "id": "sql.tiers.list",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project for which to list tiers.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/tiers",
          "response": {
            "$ref": "TiersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "delete": {
          "description": "Deletes a user from a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "DELETE",
          "id": "sql.users.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "host": {
              "description": "Host of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "insert": {
          "description": "Creates a new user in a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "POST",
          "id": "sql.users.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "description": "Lists users in the specified Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "GET",
          "id": "sql.users.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "UsersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "update": {
          "description": "Updates an existing user in a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "PUT",
          "id": "sql.users.update",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "host": {
              "description": "Optional. Host of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    }
  },
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
  "revision": "20210321",
=======
  "revision": "20200331",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
  "rootUrl": "https://sqladmin.googleapis.com/",
  "schemas": {
    "AclEntry": {
      "description": "An entry for an Access Control list.",
      "id": "AclEntry",
      "properties": {
        "expirationTime": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "The time when this access control entry expires in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
=======
          "description": "The time when this access control entry expires in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "format": "google-datetime",
          "type": "string"
        },
        "kind": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "This is always *sql#aclEntry*.",
=======
          "description": "This is always \u003ccode\u003esql#aclEntry\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        },
        "name": {
          "description": "Optional. A label to identify this entry.",
          "type": "string"
        },
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApiWarning": {
      "description": "An Admin API warning message.",
      "id": "ApiWarning",
      "properties": {
        "code": {
          "description": "Code to uniquely identify the warning type.",
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE"
          ],
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
            "Warning when one or more regions are not reachable. The returned result set may be incomplete."
=======
            "Warning when one or more regions are not reachable.  The returned result\nset may be incomplete."
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          ],
          "type": "string"
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        },
        "region": {
          "description": "The region name for REGION_UNREACHABLE warning.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupConfiguration": {
      "description": "Database instance backup configuration.",
      "id": "BackupConfiguration",
      "properties": {
        "backupRetentionSettings": {
          "$ref": "BackupRetentionSettings",
          "description": "Backup retention settings."
        },
        "binaryLogEnabled": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
=======
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is\ndisabled, binarylog must be disabled as well.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "kind": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "This is always *sql#backupConfiguration*.",
=======
          "description": "This is always \u003ccode\u003esql#backupConfiguration\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        },
        "location": {
          "description": "Location of the backup",
          "type": "string"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "startTime": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - *HH:MM*.",
          "type": "string"
        },
        "transactionLogRetentionDays": {
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BackupContext": {
      "description": "Backup context.",
      "id": "BackupContext",
      "properties": {
        "backupId": {
          "description": "The identifier of the backup.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#backupContext*.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupRetentionSettings": {
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "id": "BackupRetentionSettings",
      "properties": {
        "retainedBackups": {
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "format": "int32",
          "type": "integer"
        },
        "retentionUnit": {
          "description": "The unit that 'retained_backups' represents.",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ],
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ],
=======
          "description": "Start time for the daily backup configuration in UTC timezone in the 24\nhour format - \u003ccode\u003eHH:MM\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupRun": {
      "description": "A BackupRun resource.",
      "id": "BackupRun",
      "properties": {
        "backupKind": {
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "type": "string"
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Encryption configuration specific to a backup. Applies only to Second Generation instances."
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup. Applies only to Second Generation instances."
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
=======
          "description": "Encryption configuration specific to a backup.\nApplies only to Second Generation instances."
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup.\nApplies only to Second Generation instances."
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "format": "google-datetime",
          "type": "string"
        },
        "enqueuedTime": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "The time the run was enqueued in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
=======
          "description": "The time the run was enqueued in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if\nthe run has the FAILED status."
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL\ninstance.",
          "format": "int64",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "kind": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "This is always *sql#backupRun*.",
=======
          "description": "This is always \u003ccode\u003esql#backupRun\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "startTime": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "The time the backup operation actually started in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
=======
          "description": "The time the backup operation actually started in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "description": "The status of this run.",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
=======
            "The backup is overdue across a given backup window. Indicates a\nproblem. Example: Long-running operation in progress during\nthe whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup\nwindow. Example: Instance was idle.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "type": "string"
        },
        "type": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
=======
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\".",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "type": "string"
        },
        "windowStartTime": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "The start time of the backup window during which this the backup was attempted in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
=======
          "description": "The start time of the backup window during which this the backup was\nattempted in \u003ca href=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e\nformat, for example \u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupRunsListResponse": {
      "description": "Backup run list results.",
      "id": "BackupRunsListResponse",
      "properties": {
        "items": {
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "items": {
            "$ref": "BackupRun"
          },
          "type": "array"
        },
        "kind": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "This is always *sql#backupRunsList*.",
=======
          "description": "This is always \u003ccode\u003esql#backupRunsList\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide\nthis value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "id": "BinLogCoordinates",
      "properties": {
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        },
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "This is always *sql#binLogCoordinates*.",
=======
          "description": "This is always \u003ccode\u003esql#binLogCoordinates\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "id": "CloneContext",
      "properties": {
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
=======
          "description": "Binary log coordinates, if specified, identify the position up to which the\nsource instance should be cloned. If not specified, the source instance is\ncloned up to the most recent binary log coordinates."
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "kind": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "This is always *sql#cloneContext*.",
=======
          "description": "This is always \u003ccode\u003esql#cloneContext\u003c/code\u003e.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        },
        "pitrTimestampMs": {
          "description": "Reserved for future use.",
          "format": "int64",
          "type": "string"
        },
        "pointInTime": {
          "description": "Reserved for future use.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Database": {
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "id": "Database",
      "properties": {
        "charset": {
          "description": "The Cloud SQL charset value.",
          "type": "string"
        },
        "collation": {
          "description": "The Cloud SQL collation value.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the\nAPI.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "kind": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "This is always *sql#database*.",
          "type": "string"
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
=======
          "description": "This is always \u003ccode\u003esql#database\u003c/code\u003e.",
          "type": "string"
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include\nthe project ID or instance name.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google\napps domain is prefixed if applicable.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        }
      },
      "type": "object"
    },
    "DatabaseFlags": {
      "description": "Database flags for Cloud SQL instances.",
      "id": "DatabaseFlags",
      "properties": {
        "name": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables for MySQL. Flags are specified with underscores, not hyphens. For more information, see Configuring Database Flags in the Cloud SQL documentation.",
          "type": "string"
        },
        "value": {
          "description": "The value of the flag. Booleans are set to *on* for true and *off* for false. This field must be omitted if the flag doesn't take a value.",
=======
          "description": "The name of the flag. These flags are passed at instance startup, so\ninclude both server options and system variables for MySQL. Flags should be\nspecified with underscores, not hyphens. For more information, see \u003ca\nhref=\"/sql/docs/mysql/flags\"\u003eConfiguring Database Flags\u003c/a\u003e in the Cloud\nSQL documentation.",
          "type": "string"
        },
        "value": {
          "description": "The value of the flag. Booleans should be set to \u003ccode\u003eon\u003c/code\u003e for true\nand \u003ccode\u003eoff\u003c/code\u003e for false. This field must be omitted if the flag\ndoesn't take a value.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabaseInstance": {
      "description": "A Cloud SQL instance resource.",
      "id": "DatabaseInstance",
      "properties": {
        "backendType": {
<<<<<<< HEAD:gen/model/sqladmin/v1beta4/sqladmin-api.json
          "description": " *SECOND_GEN*: Cloud SQL database instance. *EXTERNAL*: A database server that is not managed by Google. This property is read-only; use the *tier* property in the *settings* object to determine the database type.",
=======
          "description": "\u003ccode\u003eFIRST_GEN\u003c/code\u003e: First Generation instance. MySQL only. \u003cbr\n/\u003e\u003ccode\u003eSECOND_GEN\u003c/code\u003e: Second Generation instance or PostgreSQL\ninstance. \u003cbr /\u003e\u003ccode\u003eEXTERNAL\u003c/code\u003e: A database server that is not\nmanaged by Google. \u003cbr\u003eThis property is read-only; use the\n\u003ccode\u003etier\u003c/code\u003e property in the \u003ccode\u003esettings\u003c/code\u003e object to determine\nthe database type and Second or First Generation.",
>>>>>>> upstream/main:configs/models/sql/v1beta4/sql-api.json
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
[...]
